<!doctype html>
<html ng-app="app">
  <head>
    <title>Angular Guess The Number Application </title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <!--angular module-->
    <div class="container" ng-controller="GuessTheNumberController">
          <h2>Guess the Number !</h2>
          <p class="well lead">Guess the computer generated random number between 1 and 100.</p>
          <label>Your Guess: </label><input type="number" ng-model="guess"/>
          <button ng-click="verifyGuess()" class="btn btn-primary btn-sm">Verify</button>
          <button ng-click="initializeGame()" class="btn btn-warning btn-sm">Restart</button>
          <p>
            <p ng-show="deviation<0" class="alert alert-warning">Your guess is higher.</p>
            <p ng-show="deviation>0" class="alert alert-warning">Your guess is lower.</p>
            <p ng-show="deviation===0" class="alert alert-success">Yes!That"s it.</p>
          </p>
          <p class="text-info">No of guesses : <span class="badge">{{noOfTries}}</span><p>
    </div>
    <!--Scipt files-->
    <script src="js/jquery-2.2.0.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js"></script>
    <script src="js/app.js"></script>
   
  </body>
</html>

